@charset "UTF-8";

@import url(reset.css);

.wrap {
  width: 80%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 5px solid gray;
}

.header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* width: 100%; */
  /* height: 50px; */
}

.site-title {
  line-height: 50px;
  padding: 0 10px;
}
h2 {
  padding: 10px 0;
}
.navi .menu {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  /* border: 2px solid black;
  width: 200px;
  padding-right: 10px;
  /* line-height: 50px; */
}

.menu li {
    padding: 20px;
    border: 1px solid red;
} 

.main {
  padding: 10px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
  margin-top: 30px;
}

.main .card-list .card-item {
  border: 1px solid gray;
  padding: 30px;
  /* text-align: left; */
  /* width: 200px; */
  /* 중앙정렬 */
   display: flex;
   align-items: center;
   justify-items: center;
   
}

.footer {
  background-color: gray;
  text-align: center;
  line-height: 50px;
}