<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.dao.BMemberDao">
	<insert id="insert" parameterType="BMemberDto" >
		insert into bmember(mid,mpass,mnickname,memail,address1,address2,address3,mip) 
			values (#{mid},#{mpass},#{mnickname},#{memail},#{address1},#{address2},#{address3},#{mip})
	</insert>
	<update id="update" parameterType="BMemberDto">
		update bmember set bpass = #{bpass}
						  ,bnickname = #{bnickname}
						  ,bemail = #{bemail}
						  ,address1 = #{address1}
						  ,address2 = #{address2}
						  ,address3 = #{address3}
			where mid = #{mid}
	</update>
	<delete id="delete" parameterType="BMemberDto">
		delete from bmember where mid = #{mid}
	</delete>
	<select id="selectOne" >
		
	</select>
</mapper>